dask[dataframe]
pandas
pyarrow
zstandard
spacy
spacy-transformers
transformers
torch
sentence-transformers
faiss-cpu
bertopic
fastapi
uvicorn
streamlit
streamlit-option-menu
altair
plotly
langdetect
emoji
vaderSentiment
